<!-- The double curly braces are Angular's interpolation binding syntax. -->
<!-- This interpolation binding presents the component's title property value inside the HTML header tag. -->
<div class="header bg-danger pb-8 pt-4 pt-md-4">
  <div class="container-fluid"></div>
</div>
<div class="card-body" style="padding: 30px">
  <h2 class="mb-3 font-weight-bold"> TOUR OF HEROES</h2>
</div>
<hr />

<!-- showing the heroes component -->
<!-- <app-heroes></app-heroes> -->
<!-- <app-hero-detail></app-hero-detail> -->
<nav>
  <div class="container-fluid">
    <a class="align-left d-none d-md-flex" routerLink="/dashboard"
      ><span>Dashboard</span></a
    >
  </div>
  <div>
    <a class="align-left d-none d-md-flex" routerLink="/heroes"
      ><span>Heroes</span></a
    >
  </div>
</nav>

<router-outlet></router-outlet>
<app-messages></app-messages>
